h3{
    text-align: center;
    color: white;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.container-header{
    text-align: center;
    margin: 0 auto;
}